.social-list {

  li {
    margin-bottom: 35px;

    &:last-of-type {
      margin-bottom: 0;
    }

    a {

      svg {
        fill: $primary;
        transition: .5s;
      }

      &:hover {

        svg {
          fill: $dark;
        }
      }
    }
  }
}

.scroll-down {
  display: flex;
  align-items: center;

  &-text {
    color: $primary;
    font-weight: 500;
    margin-left: 20px;
  }

  &-icon {
    position: relative;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8.5px 13px 8.5px 0;
    border-color: transparent $primary transparent transparent;
    transition: .5s;
  }

  &:hover {

    .scroll-down-icon {
      left: -15px;
    }
  }
}

.quote {
  max-width: 400px;

  &-text {
    font-style: italic;
    line-height: 1.375;
  }

  &-icon {
    margin-bottom: -22px;

    svg {
      fill: $primary;
      fill-opacity: .0792006;
    }
  }
}

.contacts-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 40px;

  @media (min-width: map_get($grid-breakpoints, sm)) {
    margin-top: 0;
  }

  @media (min-width: map_get($grid-breakpoints, xl)) {
    flex-direction: row;
  }

  &-item {
    margin-bottom: 25px;

    &:last-of-type {
      margin-bottom: 50px;
    }

    a {
      color: $body-color;

      svg {
        fill: $body-color;
        margin-right: 15px;
      }
    }
  }
}