#experience {
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(271.79deg, rgba(253, 254, 255, 0.0001) 10.51%, #FFFFFF 95.43%);

  @media (min-width: map_get($grid-breakpoints, xl)) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.experience-item {

  &-description {
    p {
      margin-bottom: 45px;
    }
  }
}

.experience-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  z-index: -1;

  @media (min-width: map_get($grid-breakpoints, sm)) {
    left: 30%;
    right: 2%;
  }

  @media (min-width: map_get($grid-breakpoints, lg)) {
    left: 30%;
  }

  @media (min-width: 1800px) {
    left: 40%;
  }

  img {
    max-height: 100%;
  }
}