#partner {
  padding-top: 90px;
  padding-bottom: 90px;
  background: $light;
}

.partner-image {

  img {
    display: block;
    width: 100%;
    margin: 0 auto 40px;

    @media (min-width: map_get($grid-breakpoints, lg)) {
      width: auto;
      margin: 0 auto;
    }
  }
}

.partner-item {

  &-title {
    max-width: 420px;
  }

  &-description {
    max-width: 570px;
    margin-bottom: 60px;

    @media (min-width: map_get($grid-breakpoints, sm)) {
      margin-bottom: 90px;
    }
  }
}