.form-group {
    position: relative;

    .form-control {
        padding: 12px 20px;
        background: #fff;
        border-radius: 7px;
        border: 1px solid #F2F2F2;
        font-weight: 300;
        color: $body-color;

        &.is-error {
            border: 1px solid $danger;
        }

        &--textarea {
            resize: none;
        }

        &::-webkit-input-placeholder {
            opacity: .5;
        }
        &::-moz-placeholder {
            opacity: .5;
        }
        &:-ms-input-placeholder {
            opacity: .5;
        }
        &:-moz-placeholder {
            opacity: .5;
        }
    }

    .error-text {
        display: inline-block;
        margin-top: 10px;
        font-size: .75rem;
        line-height: .875rem;
        color: $danger;
    }
}

.form-row {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: map_get($grid-breakpoints, sm)) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.form-column {

    .form-group {
        width: 100%;
        margin-bottom: 10px;

        @media (min-width: map_get($grid-breakpoints, md)) {
            margin-bottom: 20px;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .btn {
        margin-top: 10px;

        @media (min-width: map_get($grid-breakpoints, md)) {
            margin-top: 30px;
        }
    }
}